In [1]:
# Import libraries
import  pandas as pd
import numpy as np
import os

In [2]:
# Create path
path=r'C:\Users\jerem\anaconda\Instacart\Data'

In [3]:
# Import combined order data
df_merged_large=pd.read_pickle(r'C:\Users\jerem\anaconda\Instacart\Data\orders_products_combined.pkl')

In [4]:
df_merged_large.shape

(32434489, 12)

In [5]:
# Import products data
df_prods_checked=pd.read_csv(r'C:\Users\jerem\anaconda\Instacart\Data\prods_checked.csv', index_col = False)

In [6]:
df_prods_checked.shape

(49672, 6)

In [7]:
df_prods_checked.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,2,All-Seasons Salt,104,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,5,Green Chile Anytime Sauce,5,13,4.3

In [9]:
df_merged_large.head()

,Unnamed: 0.1,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,time_of_order,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,0,0,2539329,1,1,2,8,NaN,196,1,0,both
1,0,0,2539329,1,1,2,8,NaN,14084,2,0,both
2,0,0,2539329,1,1,2,8,NaN,12427,3,0,both
3,0,0,2539329,1,1,2,8,NaN,26088,4,0,both
4,0,0,2539329,1,1,2,8,NaN,26405,5,0,both

In [12]:
# Drop _merge, and unnamed columns
df_merged_large=df_merged_large.drop(columns= ['Unnamed: 0.1', 'Unnamed: 0', '_merge'])

In [14]:
# Merge order and product data
df_ords_prods_merged = df_merged_large.merge(df_prods_checked, on = 'product_id', indicator = True)

In [15]:
df_ords_prods_merged.head()

,order_id,user_id,order_number,orders_day_of_week,time_of_order,days_since_prior_order,product_id,add_to_cart_order,reordered,Unnamed: 0,product_name,aisle_id,department_id,prices,_merge
0,2539329,1,1,2,8,NaN,196,1,0,195,Soda,77,7,9.0,both
1,2398795,1,2,3,7,15.0,196,1,1,195,Soda,77,7,9.0,both
2,473747,1,3,3,12,21.0,196,1,1,195,Soda,77,7,9.0,both
3,2254736,1,4,4,7,29.0,196,1,1,195,Soda,77,7,9.0,both
4,431534,1,5,4,15,28.0,196,1,1,195,Soda,77,7,9.0,both

In [16]:
df_ords_prods_merged['_merge'].value_counts()

_merge
both          32404859
left_only            0
right_only           0
Name: count, dtype: int64

In [18]:
# Export df_ords_prods_merged
df_ords_prods_merged.to_pickle(os.path.join(path,'orders_products_merged.pkl'))

In [1]:
df_ords_prods_merged.head()

NameError: name 'df_ords_prods_merged' is not defined